/* Add this to your styles.css file */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: rgba(255,255,245,255);
  padding-top: 0.5px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw; /* Ensure navbar takes full viewport width */
  background-color: rgba(13,17,22,255); /* Dark background */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add subtle shadow to navbar */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1000; /* Ensures the navbar stays on top of other content */
}


.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center navbar items horizontally */
  align-items: center;
  height: 60px; /* Set the height of the navbar */
}

.nav-links li {
  padding: 0 20px; /* Add padding to each navbar item */
}

.nav-links a {
  text-decoration: none;
  color: rgba(255,252,252,255); /* Dark text for the links */
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}


.nav-links a:hover {
  color:rgba(27,32,29,255); /* Change color on hover */
}
