/* Flex Container */
.flex-container {
  display: flex;
  justify-content:baseline; /* Adjust this as needed */
  padding: 10px;
  gap: 5px; /* Space between flex items */
  background-color: rgba(13,17,22,240); /* Example background color */
  margin-top: 150px;
  height: 50vh;
  border-radius: 20px;

}

/* Profile Card */
.profile-card {
  width: 30%; /* Occupies 35% of the flex container */
  text-align: center;
  background-color: rgba(13,17,22,240);
  padding: 20px;
  border-radius: 10%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the items for smaller widths */
}




/* Profile Photo */
.profile-photo {
  width: 100%; /* Fixed size, adjust based on design needs */
  height: 100%;
  object-fit: cover;
  border-radius: 30%;
}





/* Right Box CSS with Hover Effect */
.right-box {
  width: 65%; /* Takes up the remaining space if the profile card is 35% */
  background-color:  rgba(13,17,22,100); /* Dark background for contrast */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover */
}



.right-box h2 {
  font-family: 'Brush Script MT', cursive;
  font-weight: bold;
  color: whitesmoke;
  font-size: xx-large;
}

.right-box h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: regular;
  color:whitesmoke;
}

.right-box p {
  font-family: 'Open Sans', sans-serif;
  font-weight: regular;
  color: whitesmoke;
}
