.flex-container2 {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  padding: 20px;
  gap: 20px; /* Creates space between flex items */
}

.box a{
  width: 100px; /* Set a fixed width for the square */
  height: 100px; /* Set a height equal to the width to maintain a square shape */
  display: flex;
  justify-content: center; /* Center the content inside the box horizontally */
  align-items: center; /* Center the content inside the box vertically */
  text-align: center; /* Centers text inside the box */
  position: relative;
  color: white;
  cursor: pointer; /* Indicates the box is clickable */
  /* background-color: rgba(13,17,22,255); */
  background-color: transparent;
  border-radius: 20px;
  transition: background-color 0.3s; /* Smooth background color transition for hover effect */
}




.box img{
  border-radius: 10px;
}
