
  .projfullscreen-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto; /* Ensure only vertical scrolling is allowed */
    margin: 20px 10px 0 30px; /* Adjusted margins */
    width: calc(100vw - 40px); /* Compensate for margins */
    height: 70vh; /* Adjust this based on the total height needed for exactly 3 rows of boxes */
    background-color: rgba(13,17,22,255);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px; /* Padding inside the container */
  }
  
  .projsmall-box {
    width: 30%; /* Adjust if necessary to fit within the container */
    height: 20vh; /* Adjust based on the height of the container to fit 3 rows */
    margin: 1%; /* Maintain a small margin between boxes */
    background-color: rgba(255, 255, 245, 1);
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
    background-size: 100% ;
    background-position: center; /* Center the image within the box */
    background-repeat: no-repeat; /* Do not repeat the image */
    position: relative;
  }
  
  .projsmall-box a {
    display: block; /* Make the link a block element */
    width: 100%; /* Full width of the .projsmall-box */
    height: 100%; /* Full height of the .projsmall-box */
    position: absolute; /* Position it absolutely to cover the .projsmall-box area */
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0); /* Transparent background, can be omitted */
    z-index: 10; /* Ensure it's above any other content in the box */
  }
  
  .projsmall-box1 {
    background-image: url('../media/projects/2phase.png');
  }
  
  .projsmall-box2 {
    background-image: url('../media/projects/webscrapper.png');
  }
  
  .projsmall-box3 {
    background-image: url('../media/projects/connect4game.png');
  }
  
  .projsmall-box4 {
    background-image: url('../media/projects/carzone.png');
  }
  
  .projsmall-box5 {
    background-image: url('../media/projects/securedwebapp.png');
  }
  
  .projsmall-box6 {
    background-image: url('../media/projects/hashcheck.png');
  }
  
  .projsmall-box7 {
    background-image: url('../media/projects/distancevector.png');
  }
  
  
  .projsmall-box8 {
    background-image: url('../media/projects/steps.png');
  }
  
  .projsmall-box9 {
    background-image: url('../media/projects/locksysgo.png');
  }
  
  .projsmall-box10 {
    background-image: url('../media/projects/memoryallo.png');
  }
  
  .projsmall-box11 {
    background-image: url('../media/projects/restcalc.png');
  }
  
  .projsmall-box12 {
    background-image: url('../media/projects/restwebapp.png');
  }
  
  .projsmall-box13 {
    background-image: url('../media/projects/menu.png');
  }
  
  .projsmall-box14 {
    background-image: url('../media/projects/database.png');
  }
  
  .projsmall-box15{
    background-image: url('../media/projects/wireshark.png');
  }
  .projsmall-box:hover {
    transform: scale(1.1);
  }
  